<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>  
<div>
  
      <span style="float: left;"><a href="{{'/' | prepend: site.url }}"> Chaimtime</a></span> 
      <span style="float: right;"><a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Blog</a>
			
			<a href="https://twitter.com/{{ site.twitter_username }}"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
			<a href="https://fb.com/{{ site.facebook_username }}"> <i class="fa fa-facebook" aria-hidden="true"> </i></a>
			<a href="https://plus.google.com/{{ site.google_username }}"> <i class="fa fa-google-plus" aria-hidden="true"> </i></a>
			<a href="https://linkedin.com/in/{{ site.linkedin_username }}"> <i class="fa fa-linkedin" aria-hidden="true"> </i></a>
		    <a href="http://inThirty.net/"> <i class="fa fa-microphone" aria-hidden="true"> </i></a>
		    <a href="{{ site.url }}/feed.xml"> <i class="fa fa-rss" aria-hidden="true"> </i></a>
		    <a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> <i class="fa fa-envelope" aria-hidden="true"> </i></a>
		     <a href="https://keybase.io/{{site.keybase_username}}"> <i class="fa fa-lock" aria-hidden="true"> </i></a>
		</span>
       <div class="clear"></div>
   </div>
  
<br>


