<!-- Pagination links -->
<div class="pager text-center">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="fa fa-arrow-left"></a>
  {% else %}
    <span class="fa fa-arrow-left"></span>
  {% endif %}
  <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="fa fa-arrow-right"></a>
  {% else %}
    <span class="fa fa-arrow-right"></span>
  {% endif %}
</div>
